// Color Scheme
$color-white: #fff;
$color-platinum: #e6e7e7;
$color-light-gray: #d1d1d1;
$color-eerie-black: #121619;
$color-raisin-black: #222323;
$color-nickel: #6C6E70;
$color-pink:  #D76C69;
$color-pink-l: #ECBCBA;
$color-pink-s: #E56353;
//Fonts
$roboto: "Roboto", sans-serif;
$regular: 400;
$light: 300;
$playfair: "Playfair Display", serif;
$black: 900;

// Font Sizes
$fz-xx-large: 70px;
$fz-x-large: 30px;
$fz-large: 18px;
$fz-medium: 16px;
$fz-small: 12px;

// Button Sizes
$btn-w-medium: 182px;
$btn-w-small: 115px;
$btn-h: 51px;

// Thumbnail Sizes
$thmb-normal: 144px;
$thmb-small:  133px;

//width
$width-lg: 1076px;
$width-sm: 314px;